<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>a algorithm exercise</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="./style.css") }}" />
</head>
<body>
  <canvas id="mycanvas"></canvas>
  <p>
    <textarea style="resize:none" id="data_str" rows="3" cols="64"> {{ default_data }} </textarea>
    <input type="button" id="btn" value="draw" />
    <input type="button" id="btn_gen_points" value="gen rand points" />
    <input type="button" id="btn_solve_1" value="solve 1st question" />
    <input type="button" id="btn_solve_2" value="solve 2nd question" />
    <input type="button" id="btn_reset_data" value="reset data to unsolve" />
    <span style="display:none" id="data_str_backup">{{ default_data }}</span>
  </p>
  <script src="{{ url_for("static", filename="./ext/jquery-1.9.1.min.js") }}"></script>
  <script src="{{ url_for("static", filename="./ext/processing-1.4.1.min.js") }}"></script>
  <script src="{{ url_for("static", filename="./ext/underscore-min.js") }}"></script>
  <script src="{{ url_for("static", filename="./ext/coffee-script.js") }}"></script>

  <script type="text/coffeescript" src="{{ url_for("static", filename="./script.js") }}">
  </script>

</body>
</html>
