<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>a algorithm exercise</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="./style.css") }}" />
</head>
<body align="center">
  <canvas id="mycanvas"></canvas>
  <div>
    <textarea style="resize:none" id="data_str" rows="3" cols="64"> {{ default_data }} </textarea>
  </div>
  <div>
    <input type="button" id="btn_gen_points" value="gen rand points" />
    <input type="button" id="btn_reset_data" value="reset data" />
  </div>
  <div>
    <input type="button" id="btn_solve_1" value="unicursal from lb" />
    <input type="button" id="btn_solve_2" value="unicursal" />
  </div>
  <div>
    <input type="button" id="btn_draw_mst" value="draw Min Spanning Tree" />
    <input type="button" id="btn_solve_2_mst" value="solve 2nd by MST" style="display:none" />
  </div>
  <span style="display:none" id="data_str_backup">{{ default_data }}</span>
  <span style="display:none" id="canvas_width">{{ canv_width }}</span>
  <span style="display:none" id="canvas_height">{{ canv_height }}</span>

  <script src="{{ url_for("static", filename="./ext/jquery-1.9.1.min.js") }}"></script>
  <script src="{{ url_for("static", filename="./ext/processing-1.4.1.min.js") }}"></script>
  <script src="{{ url_for("static", filename="./ext/underscore-min.js") }}"></script>
  <script src="{{ url_for("static", filename="./ext/coffee-script.js") }}"></script>

  <script type="text/coffeescript" src="{{ url_for("static", filename="./script.js") }}">
  </script>

</body>
</html>
